.section{
    background-color: #494f59;
    color: #bccbe0;
}
.hero-body{
    background-color: #2f3030;
    color: #7b88a0;
}
.control{
    background-color: #494f59;
    color: #bccbe0;
}
h2{
    width: 50%;
}
.titles{
    flex-wrap: wrap;
}
#gPoster {
    width: 100%;
}